@import url('https://fonts.googleapis.com/css?family=Poppins');
#map{
    height:100vh;
    width: 100%;
}

.imagen{
    width:200px;
}
.imagen1{
    width:150px;
    border-radius:25%;
    padding: 0 auto;
}
.nombre{
    text-align:center;
    font-size:14px;
    color:#004137;
    font-family: 'Poppins', sans-serif !important;;
    font-weight:bold;
}

.cargo{
    text-align:center;
    font-size:11px;
    color:#004137;
    font-family: 'Poppins', sans-serif !important;;
    
}


.leaflet-popup-content-wrapper{
    overflow-y: scroll;
      /* overflow-x: scroll; */
      /* max-width: 300px; */
    max-height: 400px;
    text-align: justify;
    
}

.titulo{
    text-align:center;
    font-size:16px;
}

.contenido{
    font-size:14px;
}

.leaflet-interactive{
    stroke:#AA801B;
}


/*barra desplazamiento*/
/* Estilos scrollbar */
::-webkit-scrollbar {
    width: 15px; /* ancho barra */
    }
    
    ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color fondo barra */
    }
    
    ::-webkit-scrollbar-thumb {
    background: #9EC52F; /* color barra */
    border-radius: 10px; /* borde barra */
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #000; /* color barra hover */
    }